<div class="cardBox">
	<div class="card">
		<div>
			<div class="numbers">42</div>
			<div class="cardName">Views</div>
		</div>
		<div class="iconBox">
			<i class="bi bi-eye"></i>
		</div>
	</div>
	<div class="card">
		<div>
			<div class="numbers">16</div>
			<div class="cardName">Devices</div>
		</div>
		<div class="iconBox">
			<i class="bi bi-cpu"></i>
		</div>
	</div>
	<div class="card">
		<div>
			<div class="numbers">5</div>
			<div class="cardName">Tasks</div>
		</div>
		<div class="iconBox">
			<i class="bi bi-list-task"></i>
		</div>
	</div>
	<div class="card">
		<div>
			<div class="numbers">9856</div>
			<div class="cardName" aria-hidden="false">Saved</div>
		</div>
		<div class="iconBox">
			<i class="bi bi-speedometer2"></i>
			<i class="bi-alert-triangle"></i>
		</div>
	</div>
</div>
<div class="tableBox">
	<table class="table">
	  <thead>
	    <tr>
	      <th scope="col">#</th>
	      <th scope="col">UID</th>
	      <th scope="col">Name</th>
	      <th scope="col">Model</th>
	      <th scope="col">Firmware</th>
	      <th scope="col">Status</th>
	      <th scope="col">Components</th>
	      <th scope="col">Actions</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
	      <th scope="row">1</th>
	      <td>Mark</td>
	      <td>Otto</td>
	      <td>@mdo</td>
	    </tr>
	    <tr>
	      <th scope="row">2</th>
	      <td>Jacob</td>
	      <td>Thornton</td>
	      <td>@fat</td>
	    </tr>
	    <tr>
	      <th scope="row">3</th>
	      <td colspan="2">Larry the Bird</td>
	      <td>@twitter</td>
	    </tr>
	  </tbody>
	</table>
</div>
