<div class="tableBox box">
	<div class="header">
		<div class='title'><h1>{{title}}</h1></div>
	</div>
	<table class="table">
		<thead>
	    	<tr>
				{{#each columns}}
			    	<th scope="col">{{this}}</th>
			  	{{/each}}
		    </tr>
		</thead>
		<tbody>
			{{#each rows}}
		    	<tr>
					{{#> tablerow row=this columns=../columns}}
						<td>FAILED TO RENDER ROW PARTIAL</td>

					{{/tablerow}}
			    </tr>
			{{/each}}
		</tbody>
	</table>
</div>
