				<div class="cardBox">
					<div class="card">
						<div>
							<div class="numbers">42</div>
							<div class="cardName">Views</div>
						</div>
						<div class="iconBox">
							<i class="fa fa-eye" aria-hidden="true"></i>
						</div>
					</div>
					<div class="card">
						<div>
							<div class="numbers">16</div>
							<div class="cardName">Devices</div>
						</div>
						<div class="iconBox">
							<i class="fa fa-microchip" aria-hidden="true"></i>
						</div>
					</div>
					<div class="card">
						<div>
							<div class="numbers">5</div>
							<div class="cardName">Tasks</div>
						</div>
						<div class="iconBox">
							<i class="fa fa-tasks" aria-hidden="true"></i>
						</div>
					</div>
					<div class="card">
						<div>
							<div class="numbers">9856</div>
							<div class="cardName">Saved</div>
						</div>
						<div class="iconBox">
							<i class="fa fa-euro-sign" aria-hidden="true"></i>
						</div>
					</div>
				</div>
